
/*Header*/

nav {
	opacity: 1
}

.fondo1 {
	background-image: url(../image/large1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 1;
}
.cajazul {
	
	background-size: cover;
	background-color: rgba(26, 84, 255, 0.5);
}

.center {
	text-align: center;
}

.blanco {
	color: white;

}

.azul1 {
	color: #29ABE2;
}

.azul2 {
	color:#007EED; 
}
.elprimero {
	padding: 12%;
	font-size: 48px;
}

.prueba {
	font-size: 16px;
	margin-left: 45%;

}
.logoa {
	width: 70%;
	height: 20%;
	margin: 10% 0% 0% 25%;
}

.padtop {
	padding-top: 5%;
}

.padbot{
	padding-bottom: 5%;
}

.pruebag {
	margin-left: 45%;
	font-size: 30px;
}

.cero {
	opacity: 1;
}

.boton1 {
	border: solid 3px white;
	background-color: transparent;
	border-radius: 5px;
	color: white;
	margin-top: 6%;
	width: 30%;
	font-size:20px; 
	padding: 2%;
}

.h {
	font-size: 35px;
}

.topad {
	padding-top: 10%;
	padding-bottom: 5%;
}

.menu {
	font-size: 20px;
	margin-top: 10%;
}

.circulo {
	border-radius: 50% ;
	border: solid 1px lightgray;
	width: 40%;
	-moz-box-shadow: 0 0 10px #777777;
	-webkit-box-shadow:0 0 10px #777777;
	box-shadow: 0 0 10px #777777;
	margin-left: 25%;
	margin-bottom: 5%;
} 

.left {
	margin-left: 40%;
}

.gris {
	color: gray;
}

.center {
	text-align: center;
}

.tama {
	font-size: 28px;
}

.mitad {
	margin-left: 45%;
}

.abajo {
	margin-top: 10%;
}

.izar {
	padding: 23%;
	margin-left: 7%;
}

.user {
	
	width: 50%;
	margin-top: -2%;

}

.display {
	display: inline-block;
}


.back {
	background-color: #007EED;
}

.compu {
	width: 100%;
	height: 100%;
	opacity: 0.5
}

.medida {
	width: 100%;
	height:100%;
}

.position {
	position: absolute;
	display: block;
}
.margene {
	margin-top: 15%;
}

.grisa {
	background-color: #27282C;
	background-size: cover;
	
}



.iconi {
	margin-left: -10%;
	font-size: 30px;
	border-radius: 50%;
	background-color: #007EED;
	color: white;
	padding:2%;

}

.fiu {
	font-size: 22px;
}

.arriba {
	margin-top: -4%;
}

.topi {
	margin-top: 20%;
}
/*mymodal*/
#myModal {
	background-image: url(../image/large1.jpg);
}

.red {
	color: red;
}

.deja {
	margin-left: 12%;
}

.dos {
	margin-left: 15%;
}
.trs {
	margin-left: -36%;
	width: 65%;
	
}

.md {
	border: solid .2em white;
}

.face {
	margin-left: 10%;
}
.inter {
	margin-left: 5%;
}

.bot {
	margin-bottom: 5%;
}
.boto {
	margin-left: 50%;
	border-style: none;
	background-color:#007EED;
	color: white; 
}


/*Media*/
@media (max-width: 768px) {
	.fondo1 {
		width: 100%;
	}
	.logoa {
		width: 300%;
		margin-top: 20%;
	}
	.elprimero {
		font-size: 22px;
	}
	.gratis {
		margin-left: 20%;
		padding: 0%;
		padding-top: 3%;
	}
	.fuente1 {
		font-size: 16px;
	}
	.fuente2 {
		font-size: 12px;
	}
	.bo {
		width: 100%;
	}
	.abajo {
		margin-top:-15%;
	}
	.mitad {
		margin-left: 30%;
	}
	iframe{
		width: 100%;
		height: 20em;
	}
	.li {
		font-size: 26px;
	}

	.t {
		font-size: 20px;
		
	}

	.ot {
		margin-left: 25%;
	}

	.to {
		font-size: 16px;
	}
	.iconi {
		margin-left: 10%;

	}

	.trs{
		margin-left: 30%;
		width: 50%;
	}
	
}